* {
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {

    padding: 15px 200px;
    background-image: linear-gradient(to right, rgb(73, 109, 251), rgb(13, 4, 64));

}

h1 {
    color: white;
    text-align: right;
    margin-right: 20px;
}

.flex-column {
    /*Applied to the Body*/
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;

}


.min-100-vh {
    min-height: 100vh;
}

.flex-row {
    /*Applied to main */
    display: flex;
    flex-wrap: wrap;
}

.justify-space-between {
    
    justify-content: space-between;
}

.main-col-flex {
    flex: 0 0 100%;
}



/*Cards*/

.card {
    margin: 0 0 20px;
}

.card-header {
    padding: 2.3%;
}

.card-container {
    padding:2.3%;
}

.box-current{
border-style: groove;

}
/*MEDIA*/

/*Add Responsiveness to the website for phones*/
@media screen and (max-width:390px) {}

/*/*Add Responsiveness to the website for tablets*/
*/ @media screen and (min-width: 768px) {
    .media-col {
        flex: 0 0 calc(100% 8/12 -2%);
    }

    .mid-col {
        flex: 0 0 calc(100% * 4/12 -2%);

    }
   
}