*{
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    width:90%;
    margin:auto;
    padding:10px;
}

#SearchCity {


}

.container {
    display:flex
    width:90%;
    margin:auto;
    padding:10px;
}


.border {

    border-style:groove;
    padding: 5px;
}
